/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar-track {
    background: #f3f3f2;
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 8px;
}