
<div>
   
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Add student" title="Add Student" (click)="goToList()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Add Student</span>
    </mat-toolbar>
    
<div class="add-box">
   <mat-card >
            <mat-card-header>
                <mat-card-title>Student Form</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"  class="example-form">
            <mat-card-content class="add-container">
                    <div fxLayout="row" fxLayoutAlign="space-around center" class="form-row">
                        <div fxFlex="30">
                            <mat-form-field>
                                <mat-label>First Name</mat-label>
                                <input matInput type="text" formControlName="firstName" [(ngModel)]="std.firstName">
                                <mat-error *ngIf="profileForm.get('firstName').hasError('required')">
                                        First Name is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" >
                            <mat-form-field>
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName" [(ngModel)]="std.lastName">
                                <mat-error *ngIf="profileForm.get('lastName').hasError('required')">
                                        Last Name is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" >
                            <mat-form-field>
                                <mat-label>Semester</mat-label>
                                <mat-select formControlName="semester"  [(ngModel)]="std.semester">
                                    <mat-option *ngFor="let data of semesterList" [value]="data">
                                    {{data}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="profileForm.get('semester').hasError('required')">
                                        Semester is required.
                                </mat-error>
                            </mat-form-field>
                        </div>   
                        <div fxFlex="30" >
                            <mat-form-field class="example-full-width">
                                    <mat-label>Branch</mat-label>
                                    <input type="text"
                                           aria-label="Number"
                                           matInput
                                           formControlName="branch"
                                           [matAutocomplete]="auto" [(ngModel)]="std.branch">
                                    <mat-autocomplete #auto="matAutocomplete">
                                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                      </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="profileForm.get('branch').hasError('required')">
                                            Branch is required.
                                    </mat-error>
                                  </mat-form-field>
                        </div>  
                    </div>
                        <div fxLayout="row"  fxLayoutAlign="space-around center" class="form-row">
                            <div fxFlex="30">
                                <mat-form-field>
                                    <mat-label>CGPA</mat-label>
                                    <input matInput type="number" formControlName="cgpa" [(ngModel)]="std.cgpa">
                                    <mat-error *ngIf="profileForm.get('cgpa').hasError('max')">
                                            The value must be less then 10.
                                    </mat-error>
                                    <mat-error *ngIf="profileForm.get('cgpa').hasError('min')">
                                            The value must be greater then 0.
                                    </mat-error>
                                    <mat-error *ngIf="profileForm.get('cgpa').hasError('required')">
                                            CGPA is required.
                                    </mat-error>
                                </mat-form-field>
                               
                            </div>

                            <div fxFlex="30">
                                    <mat-form-field>
                                        <mat-label>Admission Date</mat-label>
                                            <input matInput [matDatepicker]="picker" [(ngModel)]="std.admissionDate" formControlName="admissionDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                            </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="profileForm.get('admissionDate').hasError('required')">
                                                Admission Date is required.
                                        </mat-error>
                                    </mat-form-field>

                             </div>

                            <div fxFlex="30">
                                    <mat-label>Gender</mat-label>
                                    <mat-radio-group
                                        aria-labelledby="example-radio-group-label"
                                        class="example-radio-group"
                                        [(ngModel)]="std.gender" formControlName="gender">
                                        <mat-radio-button class="example-radio-button" *ngFor="let data of genderList" [value]="data">
                                        {{data}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                            </div>
                           
                             <div fxFlex="30">
                                </div>
                        </div>
            </mat-card-content> 
            <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
                <button mat-raised-button >Cancel</button>
                <button mat-raised-button color="primary" [disabled]="!profileForm.valid" *ngIf="dataId">Update</button>
                <button mat-raised-button color="primary" [disabled]="!profileForm.valid" *ngIf="!dataId">Submit</button>
            </mat-card-actions>
        </form> 
    </mat-card>
</div>
</div>